body {
	overflow: hidden;
	height: 100%;
}

md-sidemenu {
	max-width: 256px;
}

#logo {
	display: block;
	width: 100%;
}

#main {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

#pages {
	height: 100%;
	width: 100%;
	overflow: auto;
}

#home {
	min-height: 100%;
	background: red;
    overflow: hidden;
    position: relative;
}
#home > div{
    position: absolute;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
}
#home > md-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
}

#offers {
	padding-top: 16px;
}

#offers-wrapper {
	display: flex;
	flex-wrap: wrap;
}

#offers .title {
	margin-left: 16px;
}

.offer {
	cursor: pointer;
}

#search {
}

#lateral {
	position: absolute;
	top: 0;
	width: 256px;
	height: 100%;
	display: none;
}
video {
    width: auto    !important;
    height: 100%   !important;
}

@media only screen and (min-width: 768px) {
	#lateral {
		display: block;
	}
	#main {
		margin-left: 256px;
		padding-right: 256px;
	}
	md-sidemenu {
		display: none;
	}
	#main-toolbar {
		display: none;
	}
    #home > div{
        font-size: 112px;
        font-weight: 300;
        white-space: nowrap;
        line-height: 120px;
        letter-spacing: -.044em;
    }
}

@media only screen and (max-width: 500px) {
	.offer {
		width: 100%;
		margin: 16px;
	}
	.offer img {
		display: block;
		margin: 8px auto;
		height: 160px;
	}
}

@media only screen and (min-width: 500px) {
	.offer {
		flex-grow: 1;
		border-radius: 2px;
		margin: 32px 8px;
		transition: box-shadow 0.25s;
	}
	.offer:first-child {
		margin-left: 16px;
	}
	.offer:last-child {
		margin-right: 16px;
	}
	.offer:hover {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
	.offer img {
		display: block;
		margin: 8px auto;
		height: 160px;
	}
}



/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible;
zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .imgExt{float:right; margin-left: 10px;}
.media .img img,
.media .img imgExt{display:block;}


.img_in_beer_page {
  width: 150px;
  height: 150px;
}